@page "/employeeoverview"

<h2>Employee Overview</h2>

<!-- This will only be null once we get the data asynchronously -->
@if(Employees is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        @foreach (var employee in Employees)
        {
            <div class="col-12 col-sm-12 col-md-12 col-md-6 col-lg-4 col-xl-3">
                <EmployeeCard Employee="employee"></EmployeeCard>
            </div>
        }
    </div>
}