<div class="col">
    <div class="card rounnded-3 employee-card">
        <div class="card-header py-3">
            <h4>@Employee.FirstName @Employee.LastName</h4>
        </div>
        <div class="card-body employee-card text-center">
            <img src="@($"https://gillcleerenpluralsight.blob.core.windows.net/person/{Employee.EmployeeId}.jpg")" class="employee-img" />
        </div>
    </div>
</div>